{%extends 'base.html'%}
{%block head%}
{% endblock%}
{%block body%}
<div class="Content">
    <h1 class="font-weight-bold" style="text-align:center">TASK MASTER</h1>
    <br/>
    <form action="/" method="post">
      <div class="form-group">
       <label for="exampleInputEmail1">Content:</label>
       <input type="text" name="content" id="content" class="form-control" aria-describedby="contentHelp">
       </div>

      <input type="submit" class="btn btn-primary" value="Add Task">
    </form>
    <br/>
    <br/>
    <table class='table table-bordered table-hover'>

      <thead class="thead-dark">
        <th>Task</th>
        <th>Added</th>
        <th>Actions</th>
      </thead>
      {% for task in tasks %}
      <tr>
        <td>{{ task.content}}</td>
        <td>{{ task.date_created.date() }}</td>
        <td>
          <a href="/delete/{{task.id}}" class="btn btn-danger">Delete</a>
          <a href="/update/{{task.id}}" class="btn btn-success">Update</a>
      <tr>
        {% endfor %}
    </table>

</div>
{% endblock%}
